.app-card {
    /* user-select: none; */

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1.5rem;
    border-radius: 2rem;
    background-color: #9B3FD8;
    box-shadow: none;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;

    transition: box-shadow 100ms ease-in-out, background-color 260ms, scale 100ms;
}

.app-card:hover {
    scale: 1.075;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 10px 20px;
    background-color: white;
}

.app-card:hover .logo {
    filter: none;
}

.texto {
    color: white !important;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.app-card:hover .texto {
    color: #9B3FD8 !important;
}

.logo {
    filter: grayscale() contrast(0) brightness(10);
    transition: filter 0.26s ease-out;
}

.logo:hover {
    filter: none;
}


@media only screen and (max-width: 720px) {
    .app-card {
        scale: 0.9;
    }
}