body {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 10rem;
}

.container {
  width: 55vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}

@media only screen and (max-width: 720px) {
  .container {
    margin-left: 3rem;
    margin-right: 3rem;
    width: calc(100vw - 6rem);
  }
}

h1 {
  color: black;
  margin-bottom: 0;
}

p {
  text-align: center;
  color: #9B3FD8 !important;
  font-size: 2rem;
  font-weight: 600;
  font-size: 1.75rem !important;
}