:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f6efff;
  background-image:  radial-gradient(rgba(155, 63, 216, 0.45) 1.5px, transparent 1.5px), radial-gradient(rgba(155, 63, 216, 0.45) 1.5px, #f6efff 1.5px);
  background-size: 44px 44px;
  background-position: 0 0,22px 22px;

  animation: bg-scroll infinite 2500ms linear;
}

@keyframes bg-scroll {
  100% {
      background-position: 44px 44px, 66px 66px;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  backdrop-filter: blur(2.5px) saturate(1.1);
  width: auto;
  border: none;
  border-radius: 1rem;
  padding: 0.75em 1.4em;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(155, 63, 216, 1.0);
  cursor: pointer;
  transition: transform 120ms ease-out;
}
button:hover {
  background-color: rgba(155, 63, 216, 1.0);
  transform: scale(1.1);
  transition: transform 120ms ease-out;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
